<ng-container *ngIf="currentEnrollee && allEnrollee">

  <div class="row">
    <div class="col-sm-12">
      <h4>Search enrollee</h4>
    </div>
    <form role="form" class="container-search col-sm-12" [formGroup]="searchForm" novalidate>
      <div class="container-input--wrapper">
        <label for="name">Search enrollee by ID</label>
        <input type="text" formControlName="search" class="form-control" id="search" name="search"
          placeholder="Search enrollee by ID">
      </div>
      <button type="submit" (click)="getEnrolleeDetail()" class="btn btn-primary">Search</button>
      <a href="javascript: void(0);" (click)="loadAllEnrollee()">Clear</a>
    </form>
  </div>
  <div class="hr-1px"></div>
  <div class="row">
    <div class="col-sm-12">
      <h4>List enrollee</h4>
    </div>
    <div class="col-sm-6 col-md-4" *ngFor="let enrollee of currentEnrollee">
      <app-enrollee-card [enrollee]=enrollee></app-enrollee-card>
    </div>

    <app-pagination [setPagination]="{
      'itemsCount': allEnrollee.length,
      'pageSize': currentPageSize
    }" (goToPage)="goToPage($event)"></app-pagination>
  </div>
</ng-container>
