@import '../../../styles/variables';

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-blue;
  padding: .5em 1em 0;

  h1 {
    color: $light-blue;
  }

  &>nav i.fa {
    font-size: 2em;

    &-search {
      color: $primary-dark-blue;
    }

    &-home {
      color: $light-blue;
    }
  }
}
