html {
  height: 100%;
}
html body {
  height: 100%;
  overflow: hidden;
  height: 100%;
}

* {
  font-size: 14px;
  color: $primary-dark-blue;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

input {
  width: 50%;
  padding: 0.5em 0.5em;
  font-weight: 400;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.2em;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin-right: 1em;
}

input[type="radio"] {
  width: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0.1em solid #ced4da;
  margin: 0 0.5em 0 0;
}

label {
  margin: 0 1em 0 0;

  &::after {
    content: ':';
  }
}

ol, ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0.1em;
  width: 0.1em;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
.hr-thin {
  height: 0.1em;
  margin: 1em 0;
  background-color: rgba($primary-blue, 0.5);
}