.container {
  &-body--Wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &-content--Wrapper {
    flex: 1;
    overflow-y: auto;
    padding: 1.5em 0;
    background-color: $light-blue;
    position: relative;
  }

  &-buttonGroup--wrapper {
    display: flex;
    flex-direction: row;

    button {
      margin-right: 1em;

      > :last-child {
        margin-right: 0;
      }
    }
  }

  &-input--wrapper {
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;

    label {
      margin-right: 0.5em;

      &::after {
        content: ':';
      }
    }
  }
}
