$primary-dark-blue: rgb(0, 65, 132);
$primary-blue: rgb(0, 118, 204);
$secondary-blue:  rgb(0, 73, 189);
$light-blue:  rgb(240, 246, 248);

$inactive-grey: rgb(148, 148, 148);

$primary-green: rgb(67, 148, 45);
$primary-red: rgb(238, 37, 87);