<!-- <app-employee-table [employeeList]="allEmployee" (delete)="deleteCustomer($event)"></app-employee-table> -->
<h2 class="border-bottom text-center">Enrollee List</h2>
<div class="row">
  <div class="col-sm-6 col-md-4" *ngFor="let employee of allEmployee">
    <div class="card">
      <!-- <div>
        <ng-container *ngIf="employee.active; else employeeInactive">
          <img src="assets/employee_color.png" width="70">
        </ng-container>
        <ng-template #employeeInactive>
          <img src="assets/employee_grey.png" width="70">
        </ng-template>
        <div>{{employee.name}}</div>
      </div> -->
      <div>
        <strong>{{employee.name}}</strong><br/>
        <strong>Id:</strong> {{employee.id}}<br/>
        <strong>Status:</strong> {{employee.active? 'Active' : 'Inactive'}} <br/>
        <strong>Date of birth:</strong> {{!employee.dateOfBirth? 'Not Available' : employee.dateOfBirth}}
      </div>
      <div>
        <a routerLink="/employee/{{employee.id}}">
          <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
      <div class="enrollee-status"></div>
    </div>
  </div>
</div>
