@import '../../../styles/variables';

.container-pagination {
  position: absolute;
  top: calc(100% - 2em);
  left: 50%;
  display: flex;
  transform: translate(-50%, 0);

  ol {
    flex-direction: row;

    li {
      a {
        color: $primary-dark-blue;
        text-decoration: none;
        border-color: $primary-blue;
        border-style: solid;
        border-width: 0.1em 0.1em 0.1em 0;
        padding: 0.25em 0.5em;

        &:hover,
        &.active {
          background-color: $primary-blue;
          color: $light-blue;
        }
      }

      &:first-child a {
        border-left-width: 1px;
      }
    }
  }
}
