<div class="container-pagination">
  <ng-container *ngIf="pagesArray.length <= 10">
    <ol>
      <li>
        <a href="javascript: void(0);" [ngClass]="{ 'disable': pagesArray && currentPage === 1 }"
          (click)="setPage(currentPage - 1)">
          Prev
        </a>
      </li>
      <li *ngFor="let page of pagesArray; let index = index"><a href="javascript: void(0);"
          [ngClass]="{ 'active': currentPage === index + 1 }" (click)="setPage(index + 1)">{{ index + 1 }}</a></li>
      <li>
        <a href="javascript: void(0);" [ngClass]="{ 'disable': pagesArray && currentPage === pagesArray.length }"
          (click)="setPage(currentPage + 1)">
          Next
        </a>
      </li>
    </ol>
  </ng-container>
  <!-- <ng-container *ngIf="pagesArray.length > 10">
    <select [(ngModel)]="currentPage" (ngModelChange)="setPage($event.target.value)">
      <option *ngFor="let p of pagesArray; let index = index" [value]="(index + 1)">
        {{ index + 1 }}
      </option>
    </select>
  </ng-container> -->
</div>
