<div class="row" *ngIf="enrollee">
  <div class="col-sm-12">
    <form role="form" [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" class="form-control" id="name" name="name" placeholder="Enter Name">
      </div>
      <div class="form-group">
        <fieldset>
          <legend>Status:</legend>
          <input type="radio" id="Active" formControlName="status" name="status" [value]=true>
          <label for="yes">Active</label>

          <input type="radio" id="Inactive" formControlName="status" name="status" [value]=false>
          <label for="yes">Inactive</label>
        </fieldset>
      </div>
      <div class="form-group row">
        <div class="col-sm-3 offset-2">
          <a href="" (click)="goBack()" class="btn btn-outline btn-lg btn-block w-100">Cancel</a>
        </div>
        <div class="col-sm-3">
          <button type="submit" (click)="updateEnrolleeDetail()"
            class="btn btn-outline btn-lg btn-block w-100">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
