@import '../../../styles/variables';

.card {
  margin-bottom: 1.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;

  &>div:nth-child(2) {
    text-align: right;

    & i.fa {
      font-size: 1.5em;
      color: rgba(28, 111, 135, 0.9)
    }
  }

  .enrollee-status {
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    position: absolute;
    right: 0.5em;

    &::after {
      content: '';
      width: 0.8em;
      height: 0.8em;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &__inactive {
      background-color: rgba($primary-red, 0.25);

      &::after {
        background-color: rgba($primary-red, 0.5);
      }
    }

    &__active {
      background-color: rgba($primary-green, 0.25);

      &::after {
        background-color: rgba($primary-green, 0.5);
      }
    }
  }
}
