.card {
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;

  &>div:nth-child(2) {
    text-align: right;

    & i.fa {
      font-size: 18px;
      color: rgba(28, 111, 135, 1.0)
    }
  }

  .enrollee-status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: 5px;

    &::after {
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &__inactive {
      background-color: rgba(238, 37, 87, 0.25);

      &::after {
        background-color: rgba(238, 37, 87, 0.5);
      }
    }

    &__active {
      background-color: rgba(67, 148, 45, 0.25);

      &::after {
        background-color: rgba(67, 148, 45, 0.5);
      }
    }
  }
}
