<div class="card">
  <!-- <dl>
    <dt></dt>
    <dd></dd>
  </dl> -->
  <div>
    <strong>{{enrollee.name}}</strong><br />
    <strong>Id:</strong> {{enrollee.id}}<br />
    <strong>Status:</strong> {{enrollee.active? 'Active' : 'Inactive'}} <br />
    <strong>Date of birth:</strong> {{!enrollee.dateOfBirth? 'Not Available' : enrollee.dateOfBirth}}
  </div>
  <div>
    <a routerLink="/enrollee/{{enrollee.id}}">
      <i class="fa fa-pencil"></i>
    </a>
  </div>
  <div class="enrollee-status" [ngClass]="[enrollee.active? 'enrollee-status__active':'enrollee-status__inactive']">
  </div>
</div>
